<div class="container">
  <div class="users">
    <h2>
      {{ courseName }}
      <span 
        class="edit-icon"
        (click)="navigateToUserCourse(courseName)" 
        title="Bearbeitung abgeschlossen"
      >
        ✔️
      </span>
    </h2>
    <ul>
      <li>
        <mat-card>
          <mat-card-title>Text</mat-card-title>
          <mat-card-content>
            <mat-form-field appearance="outline" class="full-width">
              <textarea matInput placeholder="Text hier eingeben" [(ngModel)]="textContent"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="saveText()">Speichern</button>
          </mat-card-content>
        </mat-card>
      </li>
      <li>
        <mat-card>
          <mat-card-title>Dokumente</mat-card-title>
          <mat-card-content>
            <input type="file" #documentInput style="display:none" accept="application/pdf" (change)="handleFileUpload($event)" />
            <button mat-raised-button color="primary" (click)="documentInput.click()">Neues Dokument hinzufügen</button>
            <ul>
              <li *ngFor="let file of uploadedFiles.documents">
                <a [href]="file.url" target="_blank">{{ file.name }}</a>
              </li>
            </ul>
          </mat-card-content>
        </mat-card>
      </li>
    </ul>
    <!-- Klickbare Fläche zum Hinzufügen einer neuen Aufgabe -->
    <div class="add-task-container" (click)="openNewTaskDialog()">
      <mat-icon></mat-icon>
      Neue Aufgabe hinzufügen
    </div>
  </div>
  <div class="teilnehmer">
    <h2>Teilnehmer</h2>
    <ul>
      <li *ngFor="let participant of participants">
        {{ participant }}
      </li>
    </ul>
  </div>
</div>
