/* Container */
.new-task-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

/* Überschrift */
h2 {
  text-align: center;
  color: #333;
}

/* Formularfelder */
.full-width {
  width: 100%;
}

/* Datei-Upload */
.file-upload {
  margin-top: 15px;
  text-align: center;
}

/* Buttons */
.dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

input[type="file"] {
width:100%
}
