<!-- Header -->
<div class="header">
  <div class="home">
    <mat-icon class="home-icon" (click)="navigateToHome()">home</mat-icon>
  </div>

  <div class="user-section">
    <!-- Sprache -->
    <div class="language">
      <button mat-button [matMenuTriggerFor]="languageMenu" class="lang-button">
        <mat-icon>language</mat-icon>
        <span>{{ getLanguageLabel() }}</span>
        <span class="flag">{{ getLanguageFlag() }}</span>
      </button>
      <mat-menu #languageMenu="matMenu">
        <button mat-menu-item (click)="changeLanguage('de')">
          {{ 'german' | translate }} 🇩🇪
        </button>
        <button mat-menu-item (click)="changeLanguage('en')">
          {{ 'english' | translate }} 🇬🇧
        </button>
      </mat-menu>
    </div>

    <!-- Benutzerinfo -->
    <div class="user-info" (click)="navigateToAccount()">
      <div class="user-text">
        <span class="user-type">{{ (userType || 'defaultUserType') | translate }}</span>
        <span class="username">{{ userName }}</span>
      </div>
      <mat-icon class="benutzer-icon">account_circle</mat-icon>
    </div>
  </div>
</div>
