<div class="header">
    <div class="home-icon" (click)="navigateToHome()">🏠</div>
  
    <div class="date-time">
      <p>📅 {{ currentDate }} &nbsp; ⏰ {{ currentTime }}</p>
    </div>
  
    <div class="user-section">
      <span class="icon">🔔</span>
      <span class="icon">💬<span class="badge">1</span></span>
      <span class="language">🌍 Deutsch (de) ▼</span>
  
      <div class="user-info" (click)="navigateToAccount()">
        <p>{{ userName }}</p>
        <div class="benutzer-icon">👤</div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="content">
      <div class="users">
        <h2>{{ courseName }}</h2>
        <ul>
          <li>
            <h3>Text</h3>
            <div class="form-group">
              <p>{{ textContent }}</p>
            </div>
          </li>
          <li>
            <h3>Dokumente</h3>
            <div class="form-group">
              <ul>
                <li *ngFor="let file of uploadedFiles.documents">
                  <a [href]="file.url" target="_blank">{{ file.name }}</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <h3>Aufgabe</h3>
            <div class="form-group">
              <p>{{ aufgabeContent }}</p>
              <ul>
                <li *ngFor="let file of uploadedFiles.aufgaben">
                  <a [href]="file.url" target="_blank">{{ file.name }}</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <h3>Abgabefeld</h3>
            <div class="form-group">
              <input type="file" accept="application/pdf" (change)="handleFileUpload($event, 'abgaben')" />
              <ul>
                <li *ngFor="let file of uploadedFiles.abgaben">
                  <a [href]="file.url" target="_blank">{{ file.name }}</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <h3>Feedback</h3>
            <div class="form-group">
              <p>{{ feedbackContent }}</p>
            </div>
          </li>
        </ul>
      </div>
  
      <div class="teilnehmer">
        <h2>Teilnehmer</h2>
        <p>Teilnehmer-Liste</p>
      </div>
    </div>
  </div>
  