<div class="login-container">
    <h2>Passwort ändern</h2>
    <form (ngSubmit)="changePassword()">
      <div class="form-group">
        <label for="username">Benutzername</label>
        <input
          type="text"
          id="username"
          [value]="userName"
          readonly
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="old-password">Altes Passwort</label>
        <input
          type="password"
          id="old-password"
          [(ngModel)]="oldPassword"
          name="oldPassword"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="new-password">Neues Passwort</label>
        <input
          type="password"
          id="new-password"
          [(ngModel)]="newPassword"
          name="newPassword"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Passwort ändern</button>
    </form>
  </div>
  