/* Allgemeine Container-Stile */
.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .benutzer-icon {
    cursor: pointer;
    font-size: 1.5em;
  }
  
  /* Content-Stil */
  .content {
    display: flex;
    gap: 20px;
  }
  
  .users, .teilnehmer {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .users {
    background-color: #f0f8ff;
  }
  
  .teilnehmer {
    background-color: #ffebcd;
  }
  
  .users ul {
    list-style-type: none;
    padding: 0;
  }
  
  .users li {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-top: 10px;
  }
  
  textarea.form-control, input.form-control {
    width: 100%;
    resize: vertical;
    min-height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Button-Stil */
  input[type="file"] {
    margin-top: 10px;
    display: block;
  }
  