<div class="course-container">
  <div *ngFor="let course of courses" class="course-box">
    <div class="course-content">
      <span 
        class="course-title unenrolled" 
        *ngIf="!course.enrolled"
        title="{{ 'courseEnrollmentRequired' | translate }}"
      >
        {{ course.title }}
      </span>
      <span 
        class="course-title enrolled" 
        *ngIf="course.enrolled" 
        (click)="navigateToCourse(course.title)"
        title="{{ 'viewCourse' | translate }}"
      >
        {{ course.title }}
      </span>
      <span 
        *ngIf="!course.enrolled" 
        class="lock-icon" 
        (click)="openEnrollmentDialog(course.title)"
        title="{{ 'enrollInCourse' | translate }}"
      >
        🔒
      </span>
    </div>
  </div>
</div>
