<div class="user-task-container">
    <!-- Zurück-Button -->
    <div class="back-button-container">
      <button class="back-button" (click)="navigateBack()">{{ 'back' | translate }}</button>
    </div>
  
    <h1>{{ taskName }}</h1>
    <p>{{ taskDescription }}</p>
  
    <div class="upload-section">
      <h3>{{ 'submitWork' | translate }}</h3>
      <input type="file" accept="application/pdf" (change)="handleFileUpload($event)" />
    </div>
  
    <div class="submission-file" *ngIf="submissionFile">
      <h3>{{ 'submission' | translate }}</h3>
      <p>
        <a [href]="submissionFile.url" target="_blank">{{ submissionFile.name }}</a>
      </p>
      <!-- Button, der das Lösch-Popup öffnet -->
      <button class="btn-delete" (click)="openDeletePopup()">{{ 'delete' | translate }} {{ 'submission' | translate }}</button>
    </div>
  
    <div class="submission-feedback" *ngIf="feedback">
      <h3>{{ 'feedback' | translate }}</h3>
      <p>{{ 'feedback' | translate }} {{ 'from' | translate }}: <strong>{{ feedback.feedbackFrom }}</strong></p>
      <p>{{ feedback.text }}</p>
    </div>
  
    <!-- Löschbestätigungspopup -->
    <div class="modal" *ngIf="showDeletePopup">
      <div class="modal-content">
        <div class="modal-header">
          <h2>{{ 'deleteConfirm' | translate }}</h2>
          <button class="close-btn" (click)="cancelDelete()">✖</button>
        </div>
        <div class="modal-body">
          <p>{{ 'deleteConfirm' | translate }}?</p>
        </div>
        <div class="modal-footer">
          <button class="btn-confirm" (click)="confirmDelete()">{{ 'confirm' | translate }}</button>
          <button class="btn-cancel" (click)="cancelDelete()">{{ 'cancel' | translate }}</button>
        </div>
      </div>
    </div>
  
    <!-- Benachrichtigungs-Popup -->
    <div class="notification" *ngIf="showNotification">
      <div class="notification-content">
        <p>{{ notificationMessage }}</p>
        <button (click)="closeNotification()">{{ 'close' | translate }}</button>
      </div>
    </div>
  </div>
