<footer class="footer">
  <div class="footer-content">
    <div class="copyright">
      &copy; {{ currentYear }} Lernmanagementsystem
    </div>
    <div class="links">
      <a [routerLink]="['/privacy-policy']" routerLinkActive="active">{{ 'privacyPolicy' | translate }}</a>
      <a [routerLink]="['/terms-of-service']" routerLinkActive="active">{{ 'termsOfService' | translate }}</a>
      <a [routerLink]="['/contact']" routerLinkActive="active">{{ 'contact' | translate }}</a>
    </div>
  </div>
</footer>
